name: Unit Tests
on:
  push:
    branches:
      - main
      - master
  pull_request:
  # schedule:
  #   - cron: "0 8 * * *"
jobs:
  test:
    name: Test Python ${{ matrix.py }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - windows
          - macos
        py:
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.py }} for test
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .
          python -m pip install tox tox-gh-actions coveralls
      - name: Run tests
        run: tox
      - name: Coveralls
        if: matrix.os == 'ubuntu' && matrix.py == 3.12
        run: coveralls --service=github
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
